<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Usuarios</h3>
                </div>           
                <div  class="card-body">
                    <button @click="initAddUsuario()" class="btn btn-success" style = "margin-bottom:5px">
                        <i class="fa fa-plus"></i>
                        Novo Usuario
                    </button>
                    <table class="table table-bordered table-hover" >
                        <tbody>
                            <tr>
                                <th>
                                    ID.
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>
                                    CPF
                                </th>
                                <th>
                                    Data de Nascimento
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Telefone
                                </th>
                                <th>
                                    CEP
                                </th>
                                <th>
                                    Ações
                                </th>
                            </tr>
                            <tr v-if="usuarios.length > 0" v-for=" (usuario, index) in usuarios">
                                <td>{{ usuario.id }}</td>
                                <td>
                                    {{ usuario.nome }}
                                </td>
                                <td>
                                    {{formataCPF(usuario.cpf) }}
                                </td>
                                <td>
                                    {{ customFormatter(usuario.data_nac) }}
                                </td>
                                <td>
                                    {{ usuario.email }}
                                </td>
                                <td>
                                    {{ formatarTelefone(usuario.telefone) }}
                                </td>
                                <td>
                                    {{ formatarCEP(usuario.cep) }}
                                </td>
                                <td>
                                    <button @click="initUpdate(usuario.id)" class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-file"></i></button>
                                    <button @click="deleteUsuario(usuario.id, index + 1)" class="btn btn-danger btn-sm" title= "Apagar"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr> 
                                <td v-if="usuarios.length < 1 " colspan="8">
                                    <center>Nehum Resultado Encontrado</center>
                                </td>
                            </tr>
                        </tbody>
                    </table>           
                </div>                    
            </div>         
        </div>
 
        <div class="modal fade" tabindex="-1" role="dialog" id="add_usuarios_model">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id = "title-modal" class="modal-title">Novo Usuario</h4>
                        <button type="button" class="close" data-dismiss="modal" @click="readUsuarios" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>  
                    </div>
                    <div class="modal-body">
 
                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for ="error in errors">{{ error }}</li>
                            </ul>
                        </div>
 
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome"  class="form-control" v-model="usuario.nome">
                        </div>
                        <div class="form-group">
                            <label for="nome">CPF:</label>
                            <the-mask :mask="['###.###.###-##']" name="cpf" id="cpf"  class="form-control" v-model="usuario.cpf"/>
                        </div>
                        <div class="form-group">
                            <label for="nome">Data de Nascimento:</label>
                            <input type="text" v-mask="'####-##-##'" name="data_nac" id="data_nac"  class="form-control" v-model="usuario.data_nac" placeholder="AAAA-MM-DD">
                        </div>
                        <div class="form-group">
                            <label for="nome">Email</label>
                            <input type="email" name="email" id="email"  class="form-control" v-model="usuario.email">
                        </div>
                        <div class="form-group">
                            <label for="nome">Telefone</label>
                            <the-mask :mask="['(##) ####-####', '(##) #####-####']" name="telefone" id="telefone"  class="form-control" v-model="usuario.telefone"/>
                        </div>
                        <div class="form-group">
                            <label for="nome">CEP</label>
                            <the-mask @keyup.native="searchCep()" :mask="['#####-###']"  class="form-control" name="cep" id="cep" v-model="usuario.cep" />
                        </div>
                        <div class="form-group">
                            <label for="nome">Endereço</label>
                            <input type="text" name="endereco" id="endereco"  class="form-control" v-model="usuario.endereco" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nome">Número</label>
                            <input type="number" name="numero" id="numero"  class="form-control" v-model="usuario.numero">
                        </div>
                        <div class="form-group">
                            <label for="nome">Complemento</label>
                            <input type="text" name="complemento" id="complemento"  class="form-control" v-model="usuario.complemento">
                        </div>
                        <div class="form-group">
                            <label for="nome">Bairro</label>
                            <input type="text" name="bairro" id="bairro"  class="form-control" v-model="usuario.bairro" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nome">Cidade</label>
                            <input type="text" name="cidade" id="cidade"  class="form-control" v-model="usuario.cidade" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nome">Estado</label>
                            <input type="text" name="estado" id="estado"  class="form-control" v-model="usuario.estado" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="readUsuarios" data-dismiss="modal">Fechar</button>
                        <button v-if="tipo == 'create'" type="button" @click="createUsuario" class="btn btn-primary">Cadastrar</button>
                        <button v-if="tipo == 'update'" type="button" @click="updateUsuario" class="btn btn-primary">Guardar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        data(){
            return {
                usuario: {
                    nome: '',
                    cpf: '',
                    data_nac: '',
                    email: '',
                    telefone: '',
                    cep: '',
                    endereco: '',
                    numero: '',
                    complemento: '',
                    bairrro : '',
                    cidade: '',
                    estado: ''
                },
                errors: [],
                usuarios: [],
                update_usuario: {},
                tipo:'',
                data: null
            }
        },
        mounted()
        {
            this.readUsuarios();
            $('#data_nac').addClass('form-control');
        },
        methods: {
            initAddUsuario()
            {
                this.reset();
                $("#title-modal").html("Novo Usuario");
                $("#add_usuarios_model").modal("show");
                this.tipo = 'create';
            },
            createUsuario()
            {
                axios.post('/usuarios', {
                    nome: this.usuario.nome,
                    cpf: this.usuario.cpf,
                    data_nac: this.usuario.data_nac,
                    email: this.usuario.email,
                    telefone: this.usuario.telefone,
                    cep: this.usuario.cep,
                    endereco: this.usuario.endereco,
                    numero: this.usuario.numero,
                    complemento: this.usuario.complemento,
                    bairro: this.usuario.bairro,
                    cidade: this.usuario.cidade,
                    estado: this.usuario.estado 
                })
                    .then(response => {
 
                        this.reset();
 
                        this.usuarios.push(response.data.usuario);
 
                        this.$swal('Sucesso', 'Usuario editado com sucesso', 'success');
                        $("#add_usuarios_model").modal("hide");
 
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors.nome) {
                            this.errors.push(error.response.data.errors.nome[0]);
                        }

                        if (error.response.data.errors.cpf) {
                            this.errors.push(error.response.data.errors.cpf[0]);
                        }

                        if (error.response.data.errors.data_nac) {
                            this.errors.push(error.response.data.errors.data_nac[0]);
                        }

                        if (error.response.data.errors.email) {
                            this.errors.push(error.response.data.errors.email[0]);
                        }

                        if (error.response.data.errors.telefone) {
                            this.errors.push(error.response.data.errors.telefone[0]);
                        }

                        if (error.response.data.errors.endereco) {
                            this.errors.push(error.response.data.errors.endereco[0]);
                        }

                        if (error.response.data.errors.numero) {
                            this.errors.push(error.response.data.errors.numero[0]);
                        }

                        if (error.response.data.errors.cidade) {
                            this.errors.push(error.response.data.errors.cidade[0]);
                        }

                        if (error.response.data.errors.estado) {
                            this.errors.push(error.response.data.errors.estado[0]);
                        }

                        if (error.response.data.errors.cep) {
                            this.errors.push(error.response.data.errors.cep[0]);
                        }

                    });
            },
            reset()
            {
                this.usuario.nome = '';
                this.usuario.cpf = '';
                this.usuario.data_nac = '';
                this.usuario.email = '';
                this.usuario.telefone = '';
                this.usuario.cep = '';
                this.usuario.endereco = '';
                this.usuario.numero = '';
                this.usuario.complemento = '';
                this.usuario.bairro = '';
                this.usuario.cidade = '';
                this.usuario.estado = '';
            },
            readUsuarios()
            {
                axios.get('/usuarios')
                .then(response => {
                    this.usuarios = response.data.usuarios;
                });
            },
            initUpdate(id)
            { 
                this.errors = [];
                $("#title-modal").html("Editar  Usuario");
                $("#add_usuarios_model").modal("show");
                this.tipo = 'update';
                for (var i = 0, length = this.usuarios.length; i < length; i++) {
                    if(this.usuarios[i].id == id){
                        this.usuario = this.usuarios[i];
                        break;
                    }
                } 
            },
            updateUsuario()
            {
                axios.patch('/usuarios/' + this.usuario.id, {
                    nome: this.usuario.nome,
                    cpf: this.usuario.cpf,
                    data_nac: this.usuario.data_nac,
                    email: this.usuario.email,
                    telefone: this.usuario.telefone,
                    cep: this.usuario.cep,
                    endereco: this.usuario.endereco,
                    numero: this.usuario.numero,
                    complemento: this.usuario.complemento,
                    bairro: this.usuario.bairro,
                    cidade: this.usuario.cidade,
                    estado: this.usuario.estado 
                })
                
                .then(response => {
                    this.$swal('Sucesso', 'Usuario editado com sucesso', 'success');
                    $("#add_usuarios_model").modal("hide");
                    
                })
                .catch(error => {
                    this.errors = [];
                    if (error.response.data.errors.nome) {
                        this.errors.push(error.response.data.errors.nome[0]);
                    }

                    if (error.response.data.errors.cpf) {
                        this.errors.push(error.response.data.errors.cpf[0]);
                    }

                    if (error.response.data.errors.data_nac) {
                        this.errors.push(error.response.data.errors.data_nac[0]);
                    }

                    if (error.response.data.errors.email) {
                        this.errors.push(error.response.data.errors.email[0]);
                    }

                    if (error.response.data.errors.telefone) {
                        this.errors.push(error.response.data.errors.telefone[0]);
                    }

                    if (error.response.data.errors.endereco) {
                        this.errors.push(error.response.data.errors.endereco[0]);
                    }

                    if (error.response.data.errors.numero) {
                            this.errors.push(error.response.data.errors.numero[0]);
                    }

                    if (error.response.data.errors.cidade) {
                        this.errors.push(error.response.data.errors.cidade[0]);
                    }

                    if (error.response.data.errors.estado) {
                        this.errors.push(error.response.data.errors.estado[0]);
                    }

                    if (error.response.data.errors.cep) {
                            this.errors.push(error.response.data.errors.cep[0]);
                    }
                });
            },
            
            deleteUsuario(id,index)
            {

                this.$swal({
                    title: 'Precaução',
                    text: 'Deseja apagar o cadastro?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Não',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                    }).then((result) => {
                    if(result.value) {
                        axios.delete('/usuarios/' + id)
                        .then(response => {
                            this.$swal('Apagado', 'O cadastro foi apagado com sucesso', 'success')
                            this.usuarios.splice(index - 1);
                        })
                        .catch(error => {

                        });     
                    } else {
                        this.$swal('Cancelado', 'Seu cadastro ainda está intacto', 'info')
                    }
                })
            },
            searchCep () 
            {
                if(this.usuario.cep.length == 8) {
                    axios.get(`https://viacep.com.br/ws/${ this.usuario.cep }/json/`)
                    .then(response =>{
                        this.data = response.data; 
                        this.usuario.endereco = this.data.logradouro;
                        this.usuario.bairro = this.data.bairro;
                        this.usuario.cidade = this.data.localidade;
                        this.usuario.estado = this.data.uf;
                    })
                    .catch( error => console.log(error) )
                }else{
                    this.usuario.endereco = '';
                    this.usuario.bairro = '';
                    this.usuario.cidade = '';
                    this.usuario.estado = '';
                }
            },
            customFormatter(date) 
            {
                return moment(date).format('DD/MM/YYYY');
            },
            formataCPF(cpf)
            {
                cpf = cpf.replace(/[^\d]/g, "");
                return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
            },
            formatarCEP(cep){
	            var re = /^([\d]{5})\-?([\d]{3})/;
		        return cep.replace(re,"$1-$2");
            },
            formatarTelefone(telefone){
	            var re = /(\d{2})(\d{5})(\d{4})/;
		        return telefone.replace(re,"($1) $2-$3");
            },

        }
    } 
</script>